include mixins

doctype html
html
    head
        link(href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" rel="stylesheet")
        link(href="css/main.min.css" rel="stylesheet")
        title Responsive Admin Dashboard

    body
        block content
        script(src="js/main.js")