:root {
    --color-primary-hue: 252;
    --color-dark-lightness: 17%;
    --color-light-lightness: 95%;
    --color-white-lightness: 100%;

    --color-white: hsl(252, 30%, var(--color-white-lightness));
    --color-light: hsl(252, 30%, var(--color-light-lightness));
    --color-gray: hsl(var(--color-primary-hue), 15%, 65%);
    --color-primary: hsl(var(--color-primary-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--color-dark-lightness));
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}
